# Class Exercises

#### Q1

 Write a program to store birthdays of people and has operations to <br><br>


(a) Insert people<br>(b) Delete people<br> (c) Modify b'day of a person<br> (d) 
View b'days of all people<br> (e) View b'day of a given person<br> (f) Get 
names of people with same b'day<br>

In [0]:
bday ={'A':'1/1/1997','B':'1/1/1997','C':'5/10/1998','D':'5/10/1998'}

#### **Hints**

1.   Dictionaries
2.   key, value

### Mutable and Immutable objects
As we know that mutable objects are those which allow you to change their content, and immutable don't allow.

**mutable types are:** list, dict, set <br>
**immutable types are:** int, float, string, tuple

In [0]:
x = 5
print(id(x))

10914624

In [0]:
x = x + 1
# Try printing id of x now
# Should it change?
print(id(x))

10914656

In [0]:
l = [1,2,3]
print(id(l))

139959395203208

In [0]:

l.append(4)
# Try printing id of l now
# Should it change?
# What's the difference from above example?
print(id(l))

139959395203208

In [0]:
# What do you expect?
s1 = "string"
s2 = s1
# Try printing id's of s1 and s2
print(s1, id(s1))
print(s2, id(s2))

string 139959971594000
string 139959971594000

In [0]:
# Try changing s2 and print id's of s1 and s2
s2+='ggg'
print(s1, id(s1))
print(s2, id(s2))

string 139959971594000
stringggg 139959895189808

In [0]:
# Should the behaviour be similar as above?
l1 = ['This', 'is', 'a', 'list']
l2 = l1
print(l1, id(l1))
print(l2, id(l2))

['This', 'is', 'a', 'list'] 139959403793928
['This', 'is', 'a', 'list'] 139959403793928

In [0]:

# Try changing any element of the list and print id's of l1 and l2
l2[3] = 'new list'
print(l1, id(l1))
print(l2, id(l2))

['This', 'is', 'a', 'new list'] 139959403793928
['This', 'is', 'a', 'new list'] 139959403793928

###  With Functions

In [0]:

def f(s2):
    # Here s2 is a string object with content 'python'
    s2 = 'abc ' + s2
    # Here s2 is a string object with content 'wtf python'
    # Are the id's of this two object's same?

In [0]:
s1 = 'python'
f(s1)
# Will the value of s1 change?
print(s1)

python

In [0]:
# Example 2
def g(l2):
    # Here l2 is a list object with content ['wednesday', 'thursday', 'friday']
    l2.append('python')
    print(id(l2))
    # Here l2 is a list object with content ['wednesday', 'thursday', 'friday', 'python']
    # Are the id's of the two objects same here?

In [0]:
l1 = ['wednesday', 'thursday', 'friday']
g(l1)
# Will the value of l1 change?
print(id(l1))

139959394312968
139959394312968

#####  **Solution**<br>


You called the function by passing s1 to it. Think of this as assigning s1 to s2, <br>
`s2 = s1`<br>
After this statement `id(s1) == id(s2)`. Both `s1` and `s2` are names of an string object with content `python`.<br>
Now what happens after `s2 = 'wtf' + s2` is executed. Is s2 the same name of the same object or a different one.
Recall that strings are immutable, which means that content of a string objects cannot be changed. So `s2` is now name of different object with value `wtf python`.

In [0]:
def h(l2):
    l2 = ['new', 'list']
    print(id(l2))

In [0]:
l1 = ['old', 'list']
h(l1)
print(id(l1))
print(l1)
# Will it change or not?
# Try printing

139959394312328
139959394983816
['old', 'list']

#### **Solution**<br>


Our strategy to understand this is the same, think of passing arguments as assignment statements.
The important thing to understand is what if happening when `l2 = ['new', 'list']` gets executed.<br>
Lists are mutable so change should be reflected in `l1`, so why it didn't?<br>
Because we are not changing the content of the object. We can change content of a list, it's just that assigning `l2` a new list does not change the content of first list. First `l1` and `l2` were name of list object with content `['old', 'list']` but now `l2` is name of list object with content `['new', 'list']`. This has no effect on `l1` whatsoever.

#### Q2

Consider an nxn chess board where each row has two pawns at locations specified by a list of tuples named positions.<br> Each tuple in positions is of length 2, specifying the two positions in each row where the two pawns are located.<br> Assume that the positions are numbered from 0 and the first entry in each tuple is smaller than the second.<br> All other locations in the chess board are empty. Write a python function that takes positions as an argument and outputs the chess board in a pretty way: Each row on the screen corresponds to a row on the chess board. Pawns are shown with an X and empty squares with a dot ‘.’